<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="button.css">
  <title>upload image</title>

</head>
<body>
<p><h1>Django Uploading Images</h1></p>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload</button>
</form>
<h1>Image </h1>
{% if img_obj %}
  
  <img src="{{ img_obj.img.url}}" alt="connect" style="max-height:300px">

 <p style="  width: 300px;
 padding: 60px;
 margin-top: -300px;
 margin-left: 800px;
 border: 5px solid gray;"> {{texts}}</p>

{% endif %}


</body>
</html>